.link .flair {
vertical-align: middle !important;
padding: 3px;
min-width: 100px !important;
font-weight: bold;
font-size: medium;
color: black;
}

.Grold-Flair {
display: inline-block !important;
background-color: #ff7c02 !important;
}

.Dox-Flair {
display: inline-block !important;
background-color: #ff0000 !important;
}

.Halp-Flair {
display: inline-block !important;
background: #02F502 !important;
}

.Triggerwarning-Flair {
display: inline-block !important;
background-color: #444444 !important;
color: red !important;
}

.Drama_llama-Flair {
display: inline-block !important;
background-color: #43617c !important;
}

.Foreplay-Flair {
display: inline-block !important;
background-color: #FDFF00 !important;
}

.SlutPost-Flair {
display: inline-block !important;
background-color: #C000D8 !important;
}

.Douchebag-Flair {
display: inline-block !important;
background-color: #00fffa !important;
}

.Concerned_Douchebag-Flair {
display: inline-block !important;
background-color: #FFFFFF !important;
}

.HR_Faggotry-Flair {
display: inline-block !important;
background-color: #ff70be !important;
}

a[href="/user/jobes"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/jobes"]:not(upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/m4cyT42.png);
border-radius: 2px;
background-size: 100%;
width: 35px;
height: 53px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/moshi"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href$="/user/moshi"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/POkiiLa.png);
background-size: 100%;
border-radius: 1px ;
width: 30px;
height: 34px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/mamwad"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href$="/user/mamwad"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/pJcg4Gl.png);
background-size: 100%;
border-radius: 7px ;
width: 60px;
height: 25px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/mattvision"]:not(.upvoatsGiven),
a[href$="/user/Mattvision"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href$="/user/mattvision"]:not(.upvoatsGiven)::before,
a[href$="/user/Mattvision"]:not(.upvoatsGiven)::before {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/ouffDYq.gif);
border-radius: 0px;
background-size: 100%;
width: 40px;
height: 26px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/Zaebos_11"]:not(.upvoatsGiven),
a[href="/user/zaebos_11"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/Zaebos_11"]:not(.upvoatsGiven)::after,
a[href="/user/zaebos_11"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/Zv4DPqw.png);
border-radius: 0px;
background-size: 100%;
width: 50px;
height: 50px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/itazuka"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/itazuka"]:not(.upvoatsGiven)::after {
visibility: visible;
word-spacing: normal;
letter-spacing: normal;
font-size: 10px;
background-image: url(https://i.imgur.com/pl72jm4.jpg);
background-position: top left;
background-repeat: repeat;
background-attachment: fixed;
color: #000;
border: hidden;
content: "Fucking hippie";
}

a[href="/user/singingoncloudnine"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/singingoncloudnine"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/YjxS7zz.png);
background-size: 100%;
width: 30px;
height: 20px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/mikehawksragen"]:not(.upvoatsGiven),
a[href="/user/MikeHawksRagen"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/mikehawksragen"]:not(.upvoatsGiven)::after,
a[href="/user/MikeHawksRagen"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/XxjG2eH.png);
border-radius: 2px;
background-size: 100%;
width: 40px;
height: 35px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/g4"]:not(.upvoatsGiven), 
a[href="/user/G4"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/g4"]:not(.upvoatsGiven)::before,
a[href="/user/G4"]:not(.upvoatsGiven)::before {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/Mqmvt3f.png?1);
border-radius: 2px;
background-size: 100%;
width: 35px;
height: 35px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/boukert"]:not(.upvoatsGiven),
a[href="/user/Boukert"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/boukert"]:not(upvoatsGiven)::after,
a[href="/user/Boukert"]:not(upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/9heeUt3.gif);
border-radius: 2px;
background-size: 100%;
width: 42px;
height: 35px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/pm_me_your_arches"]:not(.upvoatsGiven),
a[href$="/user/PM_ME_YOUR_ARCHES"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href$="/user/pm_me_your_arches"]:not(.upvoatsGiven)::before,
a[href$="/user/PM_ME_YOUR_ARCHES"]:not(.upvoatsGiven)::before {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/he4utfc.gif);
border-radius: 2px;
background-size: 100%;
width: 45px;
height: 42px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/weejobbie"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href$="/user/weejobbie"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/Cuo13Vb.png);
border-radius: 2px;
background-size: 100%;
width: 22px;
height: 30px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/nihilistslivesmatter"]:not(.upvoatsGiven),
a[href$="/user/NihilistsLivesMatter"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/nihilistslivesmatter"]:not(upvoatsGiven)::after,
a[href="/user/NihilistsLivesMatter"]:not(upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/ghRi3MI.jpg?2);
background-size: 100%;
border-radius: 0px ;
width: 25px;
height: 28px;
vertical-align: middle;
margin-right: .3em;
border: hidden;;
}

a[href$="/user/ninjajunkie"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/ninjajunkie"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/yqvwdvX.jpg?1);
background-size: 100%;
border-radius: 5px ;
width: 30px;
height: 30px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/toats"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/toats"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/aUiH1Hl.png);
background-size: 100%;
width: 30px;
height: 30px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/6double5321"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/6double5321"]:not(.upvoatsGiven)::before {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/6lo3skG.jpg);
border-radius: 0px;
background-size: 100%;
width: 120px;
height: 25px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/illpoet"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/illpoet"]:not(upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/OAlxKDd.jpg);
border-radius: 2px;
background-size: 100%;
width: 43px;
height: 30px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/kevdude"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href$="/user/kevdude"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(http://i.imgur.com/xcFN1dE.png);
border-radius: 10px;
background-size: 100%;
width: 40px;
height: 50px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/lackscompassion"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href$="/user/lackscompassion"]:not(upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/G0ri7H1.png);
background-size: 100%;
border-radius: 0px ;
width: 190px;
height: 39px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/farmer-"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href$="/user/farmer-"]:not(upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/0NP40pE.jpg?1);
background-size: 100%;
border-radius: 10px ;
width: 25px;
height: 35px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/HomerSimpson"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href$="/user/HomerSimpson"]:not(upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/FwW6QrT.jpg);
background-size: 100%;
border-radius: 0px ;
width: 30px;
height: 35px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/Gate77"]:not(.upvoatsGiven),
a[href="/user/gate77"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/Gate77"]:not(.upvoatsGiven)::after,
a[href="/user/gate77"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/ZaYMoXF.png);
background-size: 100%;
border-radius: 2px ;
width: 35px;
height: 35px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/dallasmuseum"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href$="/user/dallasmuseum"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/K7WKDlx.gif);
background-size: 100%;
border-radius: 10px;
width: 35px;
height: 25px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/NoahWard"]:not(.upvoatsGiven),
a[href="/user/noahward"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/NoahWard"]:not(upvoatsGiven)::after,
a[href="/user/noahward"]:not(upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/qelZsOc.gif);
border-radius: 2px;
background-size: 100%;
width: 45px;
height: 25px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/PuttItOut"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/PuttItOut"]:not(upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/q5ydLy8.png);
border-radius: 10px;
background-size: 100%;
width: 81px;
height: 37px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/numbersman"]:not(.upvoatsGiven),
a[href$="/user/NumbersMan"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;

}

a[href$="/user/numbersman"]:not(.upvoatsGiven)::after,
a[href$="/user/NumbersMan"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/kJr1rgr.png);
border-radius: 10px;
background-size: 100%;
width: 55px;
height: 30px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/Xanthia"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/Xanthia"]:not(upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/Jt7W8pv.png?1);
border-radius: 2px;
background-size: 100%;
width: 45px;
height: 55px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/Weebo"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/Weebo"]:not(upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/3x7ykzd.png);
border-radius: 2px;
background-size: 100%;
width: 20px;
height: 46px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/teh_aj"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/teh_aj"]:not(upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/OUB3F29.png);
border-radius: 2px;
background-size: 100%;
width: 50px;
height: 42px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/the_boar"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/the_boar"]:not(upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/LiUlay8.png);
border-radius: 2px;
background-size: 100%;
width: 40px;
height: 40px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/oddjob"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href$="/user/oddjob"]:not(.upvoatsGiven)::after {
background-image: url(https://i.imgur.com/eqZp3HS.png);
visibility: visible;
content: '';
display: inline-block;
border-radius: 2px;
background-size: 100%;
width: 35px;
height: 35px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/squataclops"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href$="/user/squataclops"]:not(.upvoatsGiven)::after {
background-image: url(https://i.imgur.com/XfQXDcA.png);
visibility: visible;
content: '';
display: inline-block;
border-radius: 2px;
background-size: 100%;
width: 40px;
height: 35px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/JJEvil"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href$="/user/JJEvil"]:not(.upvoatsGiven)::after {
background-image: url(https://i.imgur.com/nVbBFn1.gif);
visibility: visible;
content: '';
display: inline-block;
border-radius: 2px;
background-size: 100%;
width: 33px;
height: 40px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/Caddis"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href$="/user/Caddis"]:not(.upvoatsGiven)::before {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/JvCboIX.png);
border-radius: 2px;
background-size: 100%;
width: 48px;
height: 28px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/polygoner"]:not(.upvoatsGiven),
a[href="/user/Polygoner"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/polygoner"]:not(upvoatsGiven)::after,
a[href="/user/Polygoner"]:not(upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/zZCE8Td.gif);
border-radius: 2px;
background-size: 100%;
width: 45px;
height: 45px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/Jambo"]:not(.upvoatsGiven),
a[href$="/user/jambo"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href$="/user/Jambo"]:not(.upvoatsGiven)::after,
a[href$="/user/jambo"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/GpAfCqH.png);
border-radius: 2px;
background-size: 100%;
width: 32px;
height: 45px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/Typo"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/Typo"]:not(upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/Ht4aknr.png);
border-radius: 10px;
background-size: 100%;
width: 50px;
height: 35px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/9-11"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/9-11"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/t1Un6mn.png);
border-radius: 2px;
background-size: 100%;
width: 35px;
height: 35px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/By_The_Water"]:not(.upvoatsGiven),
a[href="/user/by_the_water"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/By_The_Water"]:not(.upvoatsGiven)::after,
a[href="/user/by_the_water"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/YJA7iEt.png);
border-radius: 10px;
background-size: 100%;
width: 50px;
height: 50px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/Mercuenomia"]:not(.upvoatsGiven),
a[href$="/user/mercuenomia"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href$="/user/Mercuenomia"]:not(.upvoatsGiven)::after,
a[href$="/user/mercuenomia"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/1DyoLqG.jpg?1);
background-size: 100%;
border-radius: 0px ;
width: 40px;
height: 40px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

.author[href$="/Mercuenomia"]:not(.upvoatsGiven)::before,
.author[href$="/mercuenomia"]:not(.upvoatsGiven)::before {
visibility: visible;
content: "F.A.G.";
word-spacing: normal;
letter-spacing: normal;
position: relative;
font-family:"Comic Sans MS", cursive, sans-serif;
font-size: 15px;
background: transparent;
color: #3399CC;
border-style: hidden;
}

a[href="/user/Link1299"]:not(.upvoatsGiven),
a[href="/user/link1299"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/Link1299"]:not(.upvoatsGiven)::after,
a[href="/user/link1299"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/W0rCS9r.png);
background-size: 100%;
border-radius: 0px ;
width: 67px;
height: 40px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/The1ronSheik"]:not(.upvoatsGiven),
a[href="/user/the1ronsheik"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/The1ronSheik"]:not(.upvoatsGiven)::after,
a[href="/user/the1ronsheik"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/lmGP3Aj.png);
background-size: 100%;
border-radius: 10px ;
width: 50px;
height: 40px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/Hammer_Bot"]:not(.upvoatsGiven),
a[href$="/user/hammer_bot"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href$="/user/Hammer_Bot"]:not(.upvoatsGiven)::after,
a[href$="/user/hammer_bot"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/coZl6yn.gif);
border-radius: 10px;
background-size: 100%;
width: 70px;
height: 50px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/folksychipmunk"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/folksychipmunk"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/xK4bbAX.gif);
border-radius: 10px;
background-size: 100%;
width: 35px;
height: 30px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/silversurfers"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/silversurfers"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/Pe1U7cN.gif);
border-radius: 10px;
background-size: 100%;
width: 50px;
height: 25px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/ArcticDweller"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/ArcticDweller"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/RVZPhXH.jpg);
border-radius: 0px;
background-size: 100%;
width: 50px;
height: 35px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/Internet_Refugee"]:not(.upvoatsGiven),
a[href="/user/internet_refugee"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/Internet_Refugee"]:not(.upvoatsGiven)::after,
a[href="/user/internet_refugee"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/AciTJtU.png);
border-radius: 10px;
background-size: 100%;
width: 45px;
height: 35px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/european"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href$="/user/european"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/xcNaBZr.png);
border-radius: 10px;
background-size: 100%;
width: 40px;
height: 40px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/libby"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href$="/user/libby"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/8UkPxQP.jpg);
border-radius: 0px;
background-size: 100%;
width: 40px;
height: 40px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/jesuspiece"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/jesuspiece"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/NoY4UWZ.jpg);
border-radius: 0px;
background-size: 100%;
width: 40px;
height: 35px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href="/user/OmniscientGiraffe"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/OmniscientGiraffe"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/KjgoH7p.jpg);
border-radius: 0px;
background-size: 100%;
width: 30px;
height: 55px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/moliver"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/moliver"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/toaoDoZ.png);
background-size: 100%;
border-radius: 0px ;
width: 55px;
height: 45px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/microlyfe"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/microlyfe"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/RQTNbye.png);
background-size: 100%;
border-radius: 10px ;
width: 50px;
height: 30px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/Alias_Unknown"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/Alias_Unknown"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/3VzKvts.jpg);
background-size: 100%;
border-radius: 10px ;
width: 50px;
height: 30px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}


a[href$="/user/pembo210"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/pembo210"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/FrqJpJp.gif);
background-size: 100%;
border-radius: 10px ;
width: 30px;
height: 35px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/Failure"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href$="/user/Failure"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/xqUMqLn.gif);
background-size: 100%;
border-radius: 0px ;
width: 35px;
height: 35px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/Techius"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/Techius"]:not(.upvoatsGiven)::after,
a[href="/user/techius"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/N7HXAVe.png);
background-size: 100%;
border-radius: 0px ;
width: 30px;
height: 40px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

.author[href$="/user/Techius"]:not(.upvoatsGiven)::before,
.author[href$="/user/techius"]:not(.upvoatsGiven)::before {
visibility: visible;
content: "Corky";
word-spacing: normal;
letter-spacing: normal;
position: relative;
margin-right: 3px;
font-family:"Comic Sans MS", cursive, sans-serif;
font-size: 12px;
background: transparent;
color: #3399CC;
border-style: hidden;
}

a[href$="/user/pornhub_katie"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href="/user/pornhub_katie"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/KuDjvqo.gif);
background-size: 100%;
border-radius: 10px ;
width: 35px;
height: 20px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/ColdCarl"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href$="/user/ColdCarl"]:not(.upvoatsGiven)::after {
visibility: visible;
content: "mamwad";
word-spacing: normal;
letter-spacing: normal;
position: relative;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
margin-bottom: 3px;
background: transparent;
color: #3399CC;
border-style: hidden;
}
