.link .flair {
vertical-align: middle !important;
padding: 3px;
min-width: 100px !important;
font-weight: bold;
font-size: medium;
color: black;
}

.Grold-Flair {
display: inline-block;
background-color: #666600;
}

.News-Flair {
display: inline-block;
background-color: #0092ff;
}

.Halp-Flair {
display: inline-block;
background: #02F502;
}

.Triggerwarning-Flair {
display: inline-block;
background-color: #444444;
color: red !important;
}

.CovertOpperations-Flair {
display: inline-block !important;
background-color: #CC0000 !important;
}

.Foreplay-Flair {
display: inline-block !important;
background-color: #FDFF00 !important;
}

.Dickplowmency-Flair {
display: inline-block !important;
background-color: #C000D8 !important;
}

.Shitpost-Flair {
display: inline-block !important;
background-color: #118300 !important;
}

.Concerned_douchebag-Flair {
display: inline-block !important;
background-color: #444444 !important;
color: white !important;
}

a[href$="/user/MikeHawksRagen"]:not(.upvoatsGiven),
a[href$="/user/Boukert"]:not(.upvoatsGiven),
a[href$="/user/PM_ME_YOUR_ARCHES"]:not(.upvoatsGiven),
a[href$="/user/lackscompassion"]:not(.upvoatsGiven),
a[href$="/user/dallasmuseum"]:not(.upvoatsGiven),
a[href$="/user/jambo"]:not(.upvoatsGiven),
a[href$="/user/mattvision"]:not(.upvoatsGiven),
a[href$="/user/Mattvision"]:not(.upvoatsGiven),
a[href$="/user/jobes"]:not(.upvoatsGiven) ,
a[href$="/user/moshi"]:not(.upvoatsGiven),
a[href$="/user/Zaebos_11"]:not(.upvoatsGiven),
a[href$="/user/zaebos_11"]:not(.upvoatsGiven),
a[href$="/user/redditbelowsme"]:not(.upvoatsGiven),
a[href$="/user/itazuka"]:not(.upvoatsGiven),
a[href$="/user/AmaleksGirlfriend"]:not(.upvoatsGiven),
a[href$="/user/unruly"]:not(.upvoatsGiven),
a[href$="/user/singingoncloudnine"]:not(.upvoatsGiven),
a[href$="/user/G4"]:not(.upvoatsGiven),
a[href$="/user/weejobbie"]:not(.upvoatsGiven) ,
a[href$="/user/ninjajunkie"]:not(.upvoatsGiven),
a[href$="/user/toats"]:not(.upvoatsGiven),
a[href$="/user/moliver"]:not(.upvoatsGiven),
a[href$="/user/Butters_Stotch"]:not(.upvoatsGiven),
a[href$="/user/plankO"]:not(.upvoatsGiven),
a[href$="/user/ShagginTurtles"]:not(.upvoatsGiven),
a[href$="/user/Halofreak1171"]:not(.upvoatsGiven),
a[href$="/user/6double5321"]:not(.upvoatsGiven),
a[href$="/user/30GoingOn13"]:not(.upvoatsGiven),
a[href$="/user/Failure"]:not(.upvoatsGiven),
a[href$="/user/Techius"]:not(.upvoatsGiven),
a[href$="/user/illpoet"]:not(.upvoatsGiven),
a[href$="/user/Amaleks_wife"]:not(.upvoatsGiven),
a[href$="/user/kevdude"]:not(.upvoatsGiven),
a[href$="/user/farmer-"]:not(.upvoatsGiven),
a[href$="/user/HomerSimpson"]:not(.upvoatsGiven),
a[href$="/user/Gate77"]:not(.upvoatsGiven),
a[href$="/user/NoahWard"]:not(.upvoatsGiven),
a[href$="/user/PuttItOut"]:not(.upvoatsGiven),
a[href$="/user/fromthefortress"]:not(.upvoatsGiven),
a[href$="/user/nonillion"]:not(.upvoatsGiven),
a[href$="/user/TH3_1D10T"]:not(.upvoatsGiven),
a[href$="/user/Hammer_Bot"]:not(.upvoatsGiven),
a[href$="/user/hammer_bot"]:not(.upvoatsGiven),
a[href$="/user/Gerplunckamo"]:not(.upvoatsGiven),
a[href$="/user/PraiseIPU"]:not(.upvoatsGiven),
a[href$="/user/numbersman"]:not(.upvoatsGiven),
a[href$="/user/NumbersMan"]:not(.upvoatsGiven),
a[href$="/user/insanity_wolf"]:not(.upvoatsGiven),
a[href$="/user/Xanthia"]:not(.upvoatsGiven),
a[href$="/user/teh_aj"]:not(.upvoatsGiven),
a[href$="/user/the_boar"]:not(.upvoatsGiven),
a[href$="/user/ornithology"]:not(.upvoatsGiven),
a[href$="/user/pornhub_katie"]:not(.upvoatsGiven),
a[href$="/user/Internet_Refugee"]:not(.upvoatsGiven),
a[href$="/user/mamwad"]:not(.upvoatsGiven),
a[href$="/user/Weebo"]:not(.upvoatsGiven),
a[href$="/user/lordoftheshadows"]:not(.upvoatsGiven),
a[href$="/user/w00zi"]:not(.upvoatsGiven){
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px; 
content: '';
display: inline-block;
background-size: 100%;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

a[href$="/user/Internet_Refugee"]:not(.upvoatsGiven)::after {  
visibility: visible;
background-image: url(https://i.imgur.com/UgXwNSb.png);
border-radius: 20px;
width: 30px;
height: 33px;
}

a[href$="/user/jobes"]:not(upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/jnf65Hw.jpg);
border-radius: 2px;
width: 40px;
height: 40px;
}

a[href$="/user/w00zi"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/V354deJ.jpg);
border-radius: 5px ;
width: 80px;
height: 15px;
}

a[href$="/user/moshi"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/POkiiLa.png);
border-radius: 1px ;
width: 30px;
height: 34px;
}

a[href$="/user/mamwad"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/pJcg4Gl.png);
border-radius: 7px ;
width: 60px;
height: 25px;
}

a[href$="/user/mattvision"]:not(.upvoatsGiven)::before,
a[href$="/user/Mattvision"]:not(.upvoatsGiven)::before {
visibility: visible;
background-image: url(https://i.imgur.com/jHV4eqt.jpg);
border-radius: 2px;
width: 31px;
height: 35px;
}

a[href$="/Zaebos_11"]:not(.upvoatsGiven)::after,
a[href$="/zaebos_11"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/dLcZrD2.png);
border-radius: 10px;
width: 20px;
height: 20px;
}

a[href$="/user/redditbelowsme"]:not(.upvoatsGiven)::before {
visibility: visible;
background-image: url(https://i.imgur.com/fLGUahh.gif);
border-radius: 2px;
width: 24px;
height: 23px;
}

a[href$="/user/itazuka"]:not(.upvoatsGiven)::after {
visibility: visible;
word-spacing: normal;
letter-spacing: normal;
font-size: 10px;
background-image: url(https://www.zingerbugimages.com/backgrounds/rainbow_tie_dye_seamless.jpg);
background-position: top left;
background-repeat: repeat;
background-attachment: fixed;
color: #000
content: "Fucking hippie";
}

a[href$="/user/AmaleksGirlfriend"]:not(upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/UdPGKYo.jpg?2);
width: 25px;
height: 30px;
}

a[href$="/user/unruly"]:not(.upvoatsGiven)::after {
visibility: visible;
background: #55AA33 none repeat scroll 0% 0%; 
border: 2px solid #667700;
color: #000; 
border-radius: 10px; 
font-family: inherit; 
font-size: 10px; 
word-spacing: normal;
letter-spacing: normal;
content: "Mummy's Big Boy"; 
}

a[href$="/user/singingoncloudnine"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/YjxS7zz.png);
width: 30px;
height: 20px;
}

a[href$="/user/MikeHawksRagen"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/XxjG2eH.png);
border-radius: 2px;
width: 40px;
height: 35px;
}

a[href$$="/user/Boukert"]:not(upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/9heeUt3.gif);
border-radius: 2px;
width: 42px;
height: 35px;
}

a[href$="/user/PM_ME_YOUR_ARCHES"]:not(.upvoatsGiven)::before {
visibility: visible;
background-image: url(https://i.imgur.com/he4utfc.gif);
border-radius: 2px;
width: 45px;
height: 42px;
}

a[href$="/user/weejobbie"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/Cuo13Vb.png);
border-radius: 2px;
width: 22px;
height: 30px;
}

a[href$="/user/NihilistsLivesMatter"]:not(upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/ghRi3MI.jpg?2);
border-radius: 0px ;
width: 25px;
height: 28px;
}

a[href$="/user/Fizzit86"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/ztmgLAn.jpg?1);
border-radius: 5px ;
width: 40px;
height: 22px;
}

a[href$="/user/ninjajunkie"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/yqvwdvX.jpg?1);
border-radius: 5px ;
width: 30px;
height: 30px;
}

a[href$="/user/toats"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/aUiH1Hl.png);
width: 30px;
height: 30px;
}

a[href$="/user/moliver"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/8NzYOO6.jpg);
border-radius: 0px ;
width: 40px;
height: 25px;
}

a[href$="/user/Butters_Stotch"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/dFhEG81.jpg?1);
width: 30px;
height: 35px;
}

a[href$="/user/Mercuenomia"]:not(.upvoatsGiven),
a[href$="/user/mercuenomia"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

.author[href$="/user/Mercuenomia"]:not(.upvoatsGiven)::after,
.author[href$="/user/mercuenomia"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/1DyoLqG.jpg?1);
background-size: 100%;
border-radius: 0px ;
width: 40px;
height: 40px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

.author[href$="/Mercuenomia"]:not(.upvoatsGiven)::before,
.author[href$="/mercuenomia"]:not(.upvoatsGiven)::before {
visibility: visible;
content: "F.A.G.";
word-spacing: normal;
letter-spacing: normal;
position: relative;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
background: transparent;
color: #3399CC;
border-style: hidden;
}

a[href$="/user/plankO"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/xUYqjW0.jpg?1);
border-radius: 5px ;
width: 45px;
height: 15px;
}

a[href$="/user/ShagginTurtles"]:not(.upvoatsGiven)::before {
visibility: visible;
background-image: url(https://www.psypokes.com/dex/picdex/crystal/019.gif);
border-radius: 2px;
width: 40px;
height: 40px;
}

a[href$="/user/0x00"]:not(.upvoatsGiven) {
visibility: hidden;
word-spacing: -999px;
letter-spacing: -999px;
}

a[href$="/user/0x00"]:not(.upvoatsGiven)::after {
visibility: visible;
content: '';
display: inline-block;
background-image: url(https://i.imgur.com/N7HXAVe.png);
background-size: 100%;
border-radius: 0px ;
width: 30px;
height: 40px;
vertical-align: middle;
margin-right: .3em;
border: hidden;
}

.author[href$="/0x00"]:not(.upvoatsGiven)::before {
visibility: visible;
content: "Corky";
word-spacing: normal;
letter-spacing: normal;
position: relative;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
background: transparent;
color: #3399CC;
border-style: hidden;
}

a[href$="/user/Halofreak1171"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/4b5jyKY.gif);
border-radius: 5px ;
width: 25px;
height: 23px;
}

a[href="/user/6double5321"]:not(.upvoatsGiven)::before {
visibility: visible;
background-image: url(https://i.imgur.com/Jr2zAR4.png);
border-radius: 0px;
width: 40px;
height: 35px;
}

a[href$="/user/30GoingOn13"]:not(upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/KAFihyz.jpg);
border-radius: 0px ;
width: 35px;
height: 21px;
}

a[href$="/user/Failure"]:not(.upvoatsGiven)::after {
visibility: visible;
content: "kevdude";
word-spacing: normal;
letter-spacing: normal;
position: relative;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
margin-bottom: 3px;
background: transparent;
color: #3399CC;
border-style: hidden;
}

a[href$="/user/Techius"]:not(upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/XndmFZd.jpg?1);
border-radius: 10px ;
width: 30px;
height: 32px;
}

a[href$="/user/illpoet"]:not(upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/OAlxKDd.jpg);
border-radius: 2px;
width: 43px;
height: 30px;
}

a[href$="/user/Amaleks_wife"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/kVcvnWb.jpg?1);
border-radius: 2px ;
width: 50px;
height: 25px;
}

a[href$="/user/kevdude"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/dAySPrm.jpg?1);
border-radius: 2px ;
width: 40px;
height: 22px;
}

a[href$="/user/lackscompassion"]:not(upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/G0ri7H1.png);
width: 190px;
height: 39px;
}

a[href$="/user/farmer-"]:not(upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/0NP40pE.jpg?1);
border-radius: 10px ;
width: 25px;
height: 35px;
}

a[href$="/user/HomerSimpson"]:not(upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/FwW6QrT.jpg);
border-radius: 0px ;
width: 30px;
height: 35px;
}

a[href$="/user/Gate77"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/ZaYMoXF.png);
border-radius: 2px ;
width: 35px;
height: 35px;
}

a[href$="/user/dallasmuseum"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/K7WKDlx.gif);
border-radius: 10px;
width: 35px;
height: 25px;
}

a[href$="/user/NoahWard"]:not(upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/qelZsOc.gif);
border-radius: 2px;
width: 45px;
height: 25px;
}

a[href$="/user/PuttItOut"]:not(upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/q5ydLy8.png);
border-radius: 10px;
width: 81px;
height: 37px;
}

a[href$="/user/fromthefortress"]:not(upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/73SNnNl.jpg?1);
border-radius: 2px;
width: 45px;
height: 38px;
}

a[href$="/user/nonillion"]:not(upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/Bl6FlQt.png);
border-radius: 0px;
width: 136px;
height: 25px;
}

a[href$="/user/TH3_1D10T"]:not(upvoatsGiven)::after {
visibility: visible;
background-image: url(https://veuwer.com/i/3edz.gif);
border-radius: 10px;
width: 55px;
height: 37px;
}

a[href$="/user/jambo"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/GpAfCqH.png);
width: 32px;
height: 45px;
}

a[href$="/user/Hammer_Bot"]:not(.upvoatsGiven)::after,
a[href$="/user/hammer_bot"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/vPe9aMX.gif);
border-radius: 10px;
width: 73px;
height: 50px;
}

a[href$="/user/Gerplunckamo"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/u7SDKI7.jpg?1);
border-radius: 10px;
width: 35px;
height: 35px;
}

a[href$="/user/PraiseIPU"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/7Y6Ytgw.png);
border-radius: 0px;
width: 35px;
height: 35px;
}

a[href$="/user/numbersman"]:not(.upvoatsGiven)::after,
a[href$="/user/NumbersMan"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/kJr1rgr.png);
border-radius: 10px;
width: 55px;
height: 30px;
}

a[href$="/user/insanity_wolf"]:not(.upvoatsGiven)::after {
visibility: visible;
background-image: url(https://veuwer.com/i/3eij.jpg);
border-radius: 10px;
width: 57px;
height: 32px;
}

a[href$="/user/Xanthia"]:not(upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/Jt7W8pv.png?1);
border-radius: 2px;
width: 45px;
height: 55px;
}

a[href$="/user/Weebo"]:not(upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/3x7ykzd.png);
border-radius: 2px;
width: 20px;
height: 46px;
}

a[href$="/user/teh_aj"]:not(upvoatsGiven)::after {
display: inline-block;
background-image: url(https://i.imgur.com/OUB3F29.png);
border-radius: 2px;
width: 50px;
height: 42px;
}

a[href$="/user/the_boar"]:not(upvoatsGiven)::after {
visibility: visible;
background-image: url(https://i.imgur.com/LiUlay8.png);
border-radius: 2px;
width: 40px;
height: 40px;
}

a[href$="/user/ornithology"]:not(upvoatsGiven)::after {
visibility: visible;
background-image: url(https://veuwer.com/i/3eq5.jpg);
border-radius: 2px;
width: 45px;
height: 45px;
}
